//
// Xcode configuration shared across the entire project, for debug configuration types.

#include "Project-Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
ENABLE_TESTABILITY = YES

// Code Generation
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = NO
MTL_ENABLE_DEBUG_INFO = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
