//
// Xcode configuration to be shared between Revert application targets.

// Asset Catalog Compiler
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// Swift Compiler
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Shared/Sources/Revert-Bridging-Header.h

// User-Defined
REVERT_BUNDLE_DISPLAY_NAME = Revert
