//
// Revert-tvOS-Shared.xcconfig


// Asset Catalog App Icon Set Name
//
// Name of the asset catalog app icon set whose contents will be merged into the
// Info.plist.

ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image


// Asset Catalog Launch Image Set Name
//
// Name of the asset catalog launch image set whose contents will be merged into the
// Info.plist.

ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage


GCC_WARN_UNUSED_LABEL = YES


GCC_WARN_UNUSED_PARAMETER = YES


// Info.plist File
//
// This is the project-relative path to the plist file that contains the Info.plist
// information used by bundles.

INFOPLIST_FILE = $(SRCROOT)/Revert-tvOS/Info.plist


// Runpath Search Paths
//
// This is a list of paths to be added to the runpath search path list for the image
// being created.  At runtime, dyld uses the runpath when searching for dylibs whose load
// path begins with '@rpath/'. [-rpath]

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = com.ittybittyapps.$(PRODUCT_NAME:rfc1034identifier:lower)


// Product Name
//
// This is the basename of the product generated.

PRODUCT_NAME = $(TARGET_NAME)


SWIFT_OBJC_BRIDGING_HEADER = Revert/Sources/Revert-Bridging-Header.h


// Base SDK
//
// The name or path of the base SDK being used during the build. The product will be
// built against the headers and libraries located inside the indicated SDK. This path
// will be prepended to all search paths, and will be passed through the environment to
// the compiler and linker. Additional SDKs can be specified in the ADDITIONAL_SDKS
// setting.

SDKROOT = appletvos

TARGETED_DEVICE_FAMILY = 3

TVOS_DEPLOYMENT_TARGET = 9.2
