//
// Xcode configuration for the Revert tvOS target, targeting all build configuration types.

#include "../../Shared/Configurations/Revert-Shared.xcconfig"

// Architectures
SDKROOT = appletvos

// Asset Catalog Compiler
ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image

// Deployment
TVOS_DEPLOYMENT_TARGET = 9.0
TARGETED_DEVICE_FAMILY = 3

// Packaging
INFOPLIST_FILE = $(SRCROOT)/Revert-tvOS/Resources/Info.plist
