<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string></string>
		<key>rows</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>SearchBarCell</string>
				<key>title</key>
				<string>Search Bar</string>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>ToolBarCell</string>
				<key>title</key>
				<string>Tool Bar</string>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>TabBarCell</string>
				<key>title</key>
				<string>Tab Bar</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
