<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Kabul</string>
				<key>name</key>
				<string>Afghanistan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Mariehamn</string>
				<key>name</key>
				<string>Aland Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tirana</string>
				<key>name</key>
				<string>Albania</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Algiers</string>
				<key>name</key>
				<string>Algeria</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Pago Pago</string>
				<key>name</key>
				<string>American Samoa</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Andorra la Vella</string>
				<key>name</key>
				<string>Andorra</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Luanda</string>
				<key>name</key>
				<string>Angola</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>The Valley</string>
				<key>name</key>
				<string>Anguilla</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>Antarctica</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>St. John's</string>
				<key>name</key>
				<string>Antigua and Barbuda</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Buenos Aires</string>
				<key>name</key>
				<string>Argentina</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Yerevan</string>
				<key>name</key>
				<string>Armenia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Oranjestad</string>
				<key>name</key>
				<string>Aruba</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Canberra</string>
				<key>name</key>
				<string>Australia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Vienna</string>
				<key>name</key>
				<string>Austria</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Baku</string>
				<key>name</key>
				<string>Azerbaijan</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Nassau</string>
				<key>name</key>
				<string>Bahamas</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Manama</string>
				<key>name</key>
				<string>Bahrain</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Dhaka</string>
				<key>name</key>
				<string>Bangladesh</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bridgetown</string>
				<key>name</key>
				<string>Barbados</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Minsk</string>
				<key>name</key>
				<string>Belarus</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Brussels</string>
				<key>name</key>
				<string>Belgium</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Belmopan</string>
				<key>name</key>
				<string>Belize</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Porto-Novo</string>
				<key>name</key>
				<string>Benin</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Hamilton</string>
				<key>name</key>
				<string>Bermuda</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Thimphu</string>
				<key>name</key>
				<string>Bhutan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Sucre</string>
				<key>name</key>
				<string>Bolivia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>Bonaire, Saint Eustatius and Saba </string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Sarajevo</string>
				<key>name</key>
				<string>Bosnia and Herzegovina</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Gaborone</string>
				<key>name</key>
				<string>Botswana</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>Bouvet Island</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Brasilia</string>
				<key>name</key>
				<string>Brazil</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Diego Garcia</string>
				<key>name</key>
				<string>British Indian Ocean Territory</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Road Town</string>
				<key>name</key>
				<string>British Virgin Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bandar Seri Begawan</string>
				<key>name</key>
				<string>Brunei</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Sofia</string>
				<key>name</key>
				<string>Bulgaria</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ouagadougou</string>
				<key>name</key>
				<string>Burkina Faso</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bujumbura</string>
				<key>name</key>
				<string>Burundi</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Phnom Penh</string>
				<key>name</key>
				<string>Cambodia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Yaounde</string>
				<key>name</key>
				<string>Cameroon</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ottawa</string>
				<key>name</key>
				<string>Canada</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Praia</string>
				<key>name</key>
				<string>Cape Verde</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>George Town</string>
				<key>name</key>
				<string>Cayman Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bangui</string>
				<key>name</key>
				<string>Central African Republic</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>N'Djamena</string>
				<key>name</key>
				<string>Chad</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Santiago</string>
				<key>name</key>
				<string>Chile</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Beijing</string>
				<key>name</key>
				<string>China</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Flying Fish Cove</string>
				<key>name</key>
				<string>Christmas Island</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>West Island</string>
				<key>name</key>
				<string>Cocos Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bogota</string>
				<key>name</key>
				<string>Colombia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Moroni</string>
				<key>name</key>
				<string>Comoros</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Avarua</string>
				<key>name</key>
				<string>Cook Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>San Jose</string>
				<key>name</key>
				<string>Costa Rica</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Zagreb</string>
				<key>name</key>
				<string>Croatia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Havana</string>
				<key>name</key>
				<string>Cuba</string>
			</dict>
			<dict>
				<key>capital</key>
				<string> Willemstad</string>
				<key>name</key>
				<string>Curacao</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nicosia</string>
				<key>name</key>
				<string>Cyprus</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Prague</string>
				<key>name</key>
				<string>Czech Republic</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Kinshasa</string>
				<key>name</key>
				<string>Democratic Republic of the Congo</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Copenhagen</string>
				<key>name</key>
				<string>Denmark</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Djibouti</string>
				<key>name</key>
				<string>Djibouti</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Roseau</string>
				<key>name</key>
				<string>Dominica</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Santo Domingo</string>
				<key>name</key>
				<string>Dominican Republic</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Dili</string>
				<key>name</key>
				<string>East Timor</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Quito</string>
				<key>name</key>
				<string>Ecuador</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Cairo</string>
				<key>name</key>
				<string>Egypt</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>San Salvador</string>
				<key>name</key>
				<string>El Salvador</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Malabo</string>
				<key>name</key>
				<string>Equatorial Guinea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Asmara</string>
				<key>name</key>
				<string>Eritrea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tallinn</string>
				<key>name</key>
				<string>Estonia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Addis Ababa</string>
				<key>name</key>
				<string>Ethiopia</string>
			</dict>
		</array>
		<key>title</key>
		<string>E</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Stanley</string>
				<key>name</key>
				<string>Falkland Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Torshavn</string>
				<key>name</key>
				<string>Faroe Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Suva</string>
				<key>name</key>
				<string>Fiji</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Helsinki</string>
				<key>name</key>
				<string>Finland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Paris</string>
				<key>name</key>
				<string>France</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Cayenne</string>
				<key>name</key>
				<string>French Guiana</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Papeete</string>
				<key>name</key>
				<string>French Polynesia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Port-aux-Francais</string>
				<key>name</key>
				<string>French Southern Territories</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Libreville</string>
				<key>name</key>
				<string>Gabon</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Banjul</string>
				<key>name</key>
				<string>Gambia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tbilisi</string>
				<key>name</key>
				<string>Georgia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Berlin</string>
				<key>name</key>
				<string>Germany</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Accra</string>
				<key>name</key>
				<string>Ghana</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Gibraltar</string>
				<key>name</key>
				<string>Gibraltar</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Athens</string>
				<key>name</key>
				<string>Greece</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nuuk</string>
				<key>name</key>
				<string>Greenland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>St. George's</string>
				<key>name</key>
				<string>Grenada</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Basse-Terre</string>
				<key>name</key>
				<string>Guadeloupe</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Hagatna</string>
				<key>name</key>
				<string>Guam</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Guatemala City</string>
				<key>name</key>
				<string>Guatemala</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>St Peter Port</string>
				<key>name</key>
				<string>Guernsey</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Conakry</string>
				<key>name</key>
				<string>Guinea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bissau</string>
				<key>name</key>
				<string>Guinea-Bissau</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Georgetown</string>
				<key>name</key>
				<string>Guyana</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Port-au-Prince</string>
				<key>name</key>
				<string>Haiti</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>Heard Island and McDonald Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tegucigalpa</string>
				<key>name</key>
				<string>Honduras</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Hong Kong</string>
				<key>name</key>
				<string>Hong Kong</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Budapest</string>
				<key>name</key>
				<string>Hungary</string>
			</dict>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Reykjavik</string>
				<key>name</key>
				<string>Iceland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>New Delhi</string>
				<key>name</key>
				<string>India</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Jakarta</string>
				<key>name</key>
				<string>Indonesia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tehran</string>
				<key>name</key>
				<string>Iran</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Baghdad</string>
				<key>name</key>
				<string>Iraq</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Dublin</string>
				<key>name</key>
				<string>Ireland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Douglas, Isle of Man</string>
				<key>name</key>
				<string>Isle of Man</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Jerusalem</string>
				<key>name</key>
				<string>Israel</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Rome</string>
				<key>name</key>
				<string>Italy</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Yamoussoukro</string>
				<key>name</key>
				<string>Ivory Coast</string>
			</dict>
		</array>
		<key>title</key>
		<string>I</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Kingston</string>
				<key>name</key>
				<string>Jamaica</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tokyo</string>
				<key>name</key>
				<string>Japan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Saint Helier</string>
				<key>name</key>
				<string>Jersey</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Amman</string>
				<key>name</key>
				<string>Jordan</string>
			</dict>
		</array>
		<key>title</key>
		<string>J</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Astana</string>
				<key>name</key>
				<string>Kazakhstan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nairobi</string>
				<key>name</key>
				<string>Kenya</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tarawa</string>
				<key>name</key>
				<string>Kiribati</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Pristina</string>
				<key>name</key>
				<string>Kosovo</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kuwait City</string>
				<key>name</key>
				<string>Kuwait</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bishkek</string>
				<key>name</key>
				<string>Kyrgyzstan</string>
			</dict>
		</array>
		<key>title</key>
		<string>K</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Vientiane</string>
				<key>name</key>
				<string>Laos</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Riga</string>
				<key>name</key>
				<string>Latvia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Beirut</string>
				<key>name</key>
				<string>Lebanon</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Maseru</string>
				<key>name</key>
				<string>Lesotho</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Monrovia</string>
				<key>name</key>
				<string>Liberia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tripolis</string>
				<key>name</key>
				<string>Libya</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Vaduz</string>
				<key>name</key>
				<string>Liechtenstein</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Vilnius</string>
				<key>name</key>
				<string>Lithuania</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Luxembourg</string>
				<key>name</key>
				<string>Luxembourg</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Macao</string>
				<key>name</key>
				<string>Macao</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Skopje</string>
				<key>name</key>
				<string>Macedonia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Antananarivo</string>
				<key>name</key>
				<string>Madagascar</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Lilongwe</string>
				<key>name</key>
				<string>Malawi</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kuala Lumpur</string>
				<key>name</key>
				<string>Malaysia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Male</string>
				<key>name</key>
				<string>Maldives</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bamako</string>
				<key>name</key>
				<string>Mali</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Valletta</string>
				<key>name</key>
				<string>Malta</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Majuro</string>
				<key>name</key>
				<string>Marshall Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Fort-de-France</string>
				<key>name</key>
				<string>Martinique</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nouakchott</string>
				<key>name</key>
				<string>Mauritania</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Port Louis</string>
				<key>name</key>
				<string>Mauritius</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Mamoudzou</string>
				<key>name</key>
				<string>Mayotte</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Mexico City</string>
				<key>name</key>
				<string>Mexico</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Palikir</string>
				<key>name</key>
				<string>Micronesia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Chisinau</string>
				<key>name</key>
				<string>Moldova</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Monaco</string>
				<key>name</key>
				<string>Monaco</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ulan Bator</string>
				<key>name</key>
				<string>Mongolia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Podgorica</string>
				<key>name</key>
				<string>Montenegro</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Plymouth</string>
				<key>name</key>
				<string>Montserrat</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Rabat</string>
				<key>name</key>
				<string>Morocco</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Maputo</string>
				<key>name</key>
				<string>Mozambique</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nay Pyi Taw</string>
				<key>name</key>
				<string>Myanmar</string>
			</dict>
		</array>
		<key>title</key>
		<string>M</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Windhoek</string>
				<key>name</key>
				<string>Namibia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Yaren</string>
				<key>name</key>
				<string>Nauru</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kathmandu</string>
				<key>name</key>
				<string>Nepal</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Amsterdam</string>
				<key>name</key>
				<string>Netherlands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Willemstad</string>
				<key>name</key>
				<string>Netherlands Antilles</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Noumea</string>
				<key>name</key>
				<string>New Caledonia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Wellington</string>
				<key>name</key>
				<string>New Zealand</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Managua</string>
				<key>name</key>
				<string>Nicaragua</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Niamey</string>
				<key>name</key>
				<string>Niger</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Abuja</string>
				<key>name</key>
				<string>Nigeria</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Alofi</string>
				<key>name</key>
				<string>Niue</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kingston</string>
				<key>name</key>
				<string>Norfolk Island</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Pyongyang</string>
				<key>name</key>
				<string>North Korea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Saipan</string>
				<key>name</key>
				<string>Northern Mariana Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Oslo</string>
				<key>name</key>
				<string>Norway</string>
			</dict>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Muscat</string>
				<key>name</key>
				<string>Oman</string>
			</dict>
		</array>
		<key>title</key>
		<string>O</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Islamabad</string>
				<key>name</key>
				<string>Pakistan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Melekeok</string>
				<key>name</key>
				<string>Palau</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>East Jerusalem</string>
				<key>name</key>
				<string>Palestinian Territory</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Panama City</string>
				<key>name</key>
				<string>Panama</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Port Moresby</string>
				<key>name</key>
				<string>Papua New Guinea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Asuncion</string>
				<key>name</key>
				<string>Paraguay</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Lima</string>
				<key>name</key>
				<string>Peru</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Manila</string>
				<key>name</key>
				<string>Philippines</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Adamstown</string>
				<key>name</key>
				<string>Pitcairn</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Warsaw</string>
				<key>name</key>
				<string>Poland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Lisbon</string>
				<key>name</key>
				<string>Portugal</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>San Juan</string>
				<key>name</key>
				<string>Puerto Rico</string>
			</dict>
		</array>
		<key>title</key>
		<string>P</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Doha</string>
				<key>name</key>
				<string>Qatar</string>
			</dict>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Brazzaville</string>
				<key>name</key>
				<string>Republic of the Congo</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Saint-Denis</string>
				<key>name</key>
				<string>Reunion</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bucharest</string>
				<key>name</key>
				<string>Romania</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Moscow</string>
				<key>name</key>
				<string>Russia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kigali</string>
				<key>name</key>
				<string>Rwanda</string>
			</dict>
		</array>
		<key>title</key>
		<string>R</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Gustavia</string>
				<key>name</key>
				<string>Saint Barthelemy</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Jamestown</string>
				<key>name</key>
				<string>Saint Helena</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Basseterre</string>
				<key>name</key>
				<string>Saint Kitts and Nevis</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Castries</string>
				<key>name</key>
				<string>Saint Lucia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Marigot</string>
				<key>name</key>
				<string>Saint Martin</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Saint-Pierre</string>
				<key>name</key>
				<string>Saint Pierre and Miquelon</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kingstown</string>
				<key>name</key>
				<string>Saint Vincent and the Grenadines</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Apia</string>
				<key>name</key>
				<string>Samoa</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>San Marino</string>
				<key>name</key>
				<string>San Marino</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Sao Tome</string>
				<key>name</key>
				<string>Sao Tome and Principe</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Riyadh</string>
				<key>name</key>
				<string>Saudi Arabia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Dakar</string>
				<key>name</key>
				<string>Senegal</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Belgrade</string>
				<key>name</key>
				<string>Serbia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Belgrade</string>
				<key>name</key>
				<string>Serbia and Montenegro</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Victoria</string>
				<key>name</key>
				<string>Seychelles</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Freetown</string>
				<key>name</key>
				<string>Sierra Leone</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Singapur</string>
				<key>name</key>
				<string>Singapore</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Philipsburg</string>
				<key>name</key>
				<string>Sint Maarten</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bratislava</string>
				<key>name</key>
				<string>Slovakia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ljubljana</string>
				<key>name</key>
				<string>Slovenia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Honiara</string>
				<key>name</key>
				<string>Solomon Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Mogadishu</string>
				<key>name</key>
				<string>Somalia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Pretoria</string>
				<key>name</key>
				<string>South Africa</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Grytviken</string>
				<key>name</key>
				<string>South Georgia and the South Sandwich Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Seoul</string>
				<key>name</key>
				<string>South Korea</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Juba</string>
				<key>name</key>
				<string>South Sudan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Madrid</string>
				<key>name</key>
				<string>Spain</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Colombo</string>
				<key>name</key>
				<string>Sri Lanka</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Khartoum</string>
				<key>name</key>
				<string>Sudan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Paramaribo</string>
				<key>name</key>
				<string>Suriname</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Longyearbyen</string>
				<key>name</key>
				<string>Svalbard and Jan Mayen</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Mbabane</string>
				<key>name</key>
				<string>Swaziland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Stockholm</string>
				<key>name</key>
				<string>Sweden</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Berne</string>
				<key>name</key>
				<string>Switzerland</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Damascus</string>
				<key>name</key>
				<string>Syria</string>
			</dict>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Taipei</string>
				<key>name</key>
				<string>Taiwan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Dushanbe</string>
				<key>name</key>
				<string>Tajikistan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Dodoma</string>
				<key>name</key>
				<string>Tanzania</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Bangkok</string>
				<key>name</key>
				<string>Thailand</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Lome</string>
				<key>name</key>
				<string>Togo</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>Tokelau</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Nuku'alofa</string>
				<key>name</key>
				<string>Tonga</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Port of Spain</string>
				<key>name</key>
				<string>Trinidad and Tobago</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tunis</string>
				<key>name</key>
				<string>Tunisia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ankara</string>
				<key>name</key>
				<string>Turkey</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Ashgabat</string>
				<key>name</key>
				<string>Turkmenistan</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Cockburn Town</string>
				<key>name</key>
				<string>Turks and Caicos Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Funafuti</string>
				<key>name</key>
				<string>Tuvalu</string>
			</dict>
		</array>
		<key>title</key>
		<string>T</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Charlotte Amalie</string>
				<key>name</key>
				<string>U.S. Virgin Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kampala</string>
				<key>name</key>
				<string>Uganda</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Kiev</string>
				<key>name</key>
				<string>Ukraine</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Abu Dhabi</string>
				<key>name</key>
				<string>United Arab Emirates</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>London</string>
				<key>name</key>
				<string>United Kingdom</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Washington</string>
				<key>name</key>
				<string>United States</string>
			</dict>
			<dict>
				<key>capital</key>
				<string></string>
				<key>name</key>
				<string>United States Minor Outlying Islands</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Montevideo</string>
				<key>name</key>
				<string>Uruguay</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Tashkent</string>
				<key>name</key>
				<string>Uzbekistan</string>
			</dict>
		</array>
		<key>title</key>
		<string>U</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Port Vila</string>
				<key>name</key>
				<string>Vanuatu</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Vatican City</string>
				<key>name</key>
				<string>Vatican</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Caracas</string>
				<key>name</key>
				<string>Venezuela</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Hanoi</string>
				<key>name</key>
				<string>Vietnam</string>
			</dict>
		</array>
		<key>title</key>
		<string>V</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Mata Utu</string>
				<key>name</key>
				<string>Wallis and Futuna</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>El-Aaiun</string>
				<key>name</key>
				<string>Western Sahara</string>
			</dict>
		</array>
		<key>title</key>
		<string>W</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Sanaa</string>
				<key>name</key>
				<string>Yemen</string>
			</dict>
		</array>
		<key>title</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>capital</key>
				<string>Lusaka</string>
				<key>name</key>
				<string>Zambia</string>
			</dict>
			<dict>
				<key>capital</key>
				<string>Harare</string>
				<key>name</key>
				<string>Zimbabwe</string>
			</dict>
		</array>
		<key>title</key>
		<string>Z</string>
	</dict>
</array>
</plist>
