<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Views</string>
				<key>subtitle</key>
				<string>A selection of UIViews</string>
				<key>iconName</key>
				<string>icon_Views</string>
				<key>segueIdentifier</key>
				<string>ShowViewsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Auto Layout</string>
				<key>subtitle</key>
				<string>Basic pinning, ratio and centering</string>
				<key>iconName</key>
				<string>icon_Autolayout</string>
				<key>segueIdentifier</key>
				<string>ShowAutoLayoutViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Auto Layout Alignments</string>
				<key>subtitle</key>
				<string>Alignments, alignment rect</string>
				<key>iconName</key>
				<string>icon_AutolayoutAlignment</string>
				<key>segueIdentifier</key>
				<string>ShowAutoLayoutAlignmentsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Auto Layout Margins</string>
				<key>subtitle</key>
				<string>Fun with margins</string>
				<key>iconName</key>
				<string>icon_AutolayoutMargin</string>
				<key>segueIdentifier</key>
				<string>ShowAutoLayoutMarginsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Auto Resizing Masks</string>
				<key>subtitle</key>
				<string>None, All, Width, Height, Top, Bottom</string>
				<key>iconName</key>
				<string>icon_AutoResizing</string>
				<key>segueIdentifier</key>
				<string>ShowAutoResizingMasksViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Transform Views</string>
				<key>subtitle</key>
				<string>Translation, Rotation, Scaling of UIViews</string>
				<key>iconName</key>
				<string>icon_TransformViews</string>
				<key>segueIdentifier</key>
				<string>ShowTransformViewsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Transform Layers</string>
				<key>subtitle</key>
				<string>Translation, Rotation, Scaling of CALayers</string>
				<key>iconName</key>
				<string>icon_TransformLayers</string>
				<key>segueIdentifier</key>
				<string>ShowTransformLayersViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Bounds Change &amp; Anchor Point</string>
				<key>subtitle</key>
				<string>Examples</string>
				<key>iconName</key>
				<string>icon_Squares</string>
				<key>segueIdentifier</key>
				<string>ShowAnchorBoundsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Stress Test</string>
				<key>subtitle</key>
				<string>Embeded UIViews forming pyramids</string>
				<key>iconName</key>
				<string>icon_StressTest</string>
				<key>segueIdentifier</key>
				<string>ShowStressTestViewControllerSegue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Not Serializable</string>
				<key>subtitle</key>
				<string>This will crash upon modifying the slider.</string>
				<key>iconName</key>
				<string>icon_TableView</string>
				<key>segueIdentifier</key>
				<string>ShowNotSerializableViewControllerSegue</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
