<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Table View</string>
				<key>subtitle</key>
				<string>UITableView</string>
				<key>iconName</key>
				<string>icon_TableView</string>
				<key>segueIdentifier</key>
				<string>ShowTableViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Collection View</string>
				<key>subtitle</key>
				<string>UICollectionView</string>
				<key>iconName</key>
				<string>icon_CollectionView</string>
				<key>segueIdentifier</key>
				<string>ShowCollectionViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Scroll View</string>
				<key>subtitle</key>
				<string>UIScrollView</string>
				<key>iconName</key>
				<string>icon_ScrollView</string>
				<key>segueIdentifier</key>
				<string>ShowScrollViewControllerSegue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>resourceFilename</key>
				<string>ViewItems</string>
				<key>title</key>
				<string>Default Views</string>
				<key>subtitle</key>
				<string>A selection of iOS stock items</string>
				<key>iconName</key>
				<string>icon_DefaultView</string>
				<key>segueIdentifier</key>
				<string>ShowDefaultsControllerSegue</string>
			</dict>
			<dict>
				<key>resourceFilename</key>
				<string>ControlItems</string>
				<key>title</key>
				<string>Controls</string>
				<key>subtitle</key>
				<string>A selection of iOS stock items</string>
				<key>iconName</key>
				<string>icon_Controls</string>
				<key>segueIdentifier</key>
				<string>ShowControlsControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Bars</string>
				<key>subtitle</key>
				<string>A selection of stock iOS bars</string>
				<key>iconName</key>
				<string>icon_Bars</string>
				<key>segueIdentifier</key>
				<string>ShowBarsViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Alert View</string>
				<key>subtitle</key>
				<string>Alert samples</string>
				<key>iconName</key>
				<string>icon_AlertView</string>
				<key>segueIdentifier</key>
				<string>ShowAlertViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Picker View</string>
				<key>subtitle</key>
				<string>DatePicker &amp; Regular Picker</string>
				<key>iconName</key>
				<string>icon_Picker</string>
				<key>segueIdentifier</key>
				<string>ShowPickerViewControllerSegue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Map View</string>
				<key>subtitle</key>
				<string>MKMapView</string>
				<key>iconName</key>
				<string>icon_MapView</string>
				<key>segueIdentifier</key>
				<string>ShowMapViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Web View</string>
				<key>subtitle</key>
				<string>WKWebView</string>
				<key>iconName</key>
				<string>icon_WebView</string>
				<key>segueIdentifier</key>
				<string>ShowWebViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>SpriteKit</string>
				<key>subtitle</key>
				<string>A SpriteKit example</string>
				<key>iconName</key>
				<string>icon_SpriteKit</string>
				<key>segueIdentifier</key>
				<string>ShowSpriteKitViewControllerSegue</string>
			</dict>
			<dict>
				<key>title</key>
				<string>OpenGL</string>
				<key>subtitle</key>
				<string>GLKViewController</string>
				<key>iconName</key>
				<string>icon_SpriteKit</string>
				<key>segueIdentifier</key>
				<string>ShowGLKViewControllerSegue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Modal View</string>
				<key>subtitle</key>
				<string>Modal presentation</string>
				<key>iconName</key>
				<string>icon_MapView</string>
				<key>segueIdentifier</key>
				<string>ShowModalViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
