//
// Project-Release.xcconfig

#include "Project-Shared.xcconfig"


// Produce debugging information
// 
// Produce debugging information. This information is required for shader profiling.

MTL_ENABLE_DEBUG_INFO = NO


// Validate Built Product
// 
// Activating this setting will cause Xcode to perform validation checks on the product
// as part of the build process.

VALIDATE_PRODUCT = YES
