//
// Revert-iOS-Shared.xcconfig

#include "../../Shared/Configurations/Revert-Shared.xcconfig"


// Asset Catalog App Icon Set Name
// 
// Name of the asset catalog app icon set whose contents will be merged into the
// Info.plist.

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon


// Info.plist File
// 
// This is the project-relative path to the plist file that contains the Info.plist
// information used by bundles.

INFOPLIST_FILE = $(SRCROOT)/Revert/Resources/Info.plist


// Base SDK
//
// The name or path of the base SDK being used during the build. The product will be
// built against the headers and libraries located inside the indicated SDK. This path
// will be prepended to all search paths, and will be passed through the environment to
// the compiler and linker. Additional SDKs can be specified in the ADDITIONAL_SDKS
// setting.

SDKROOT = iphoneos

IPHONEOS_DEPLOYMENT_TARGET = 8.2

TARGETED_DEVICE_FAMILY = 1,2
