//
// Xcode configuration for the Revert iOS target, targeting all build configuration types.

#include "../../Shared/Configurations/Revert-Shared.xcconfig"

// Architectures
SDKROOT = iphoneos

// Asset Catalog Compiler
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TARGETED_DEVICE_FAMILY = 1,2

// Packaging
INFOPLIST_FILE = $(SRCROOT)/Revert/Resources/Info.plist
